extends layout

block content
  .spacer
  .container
    .row
      .col-md-10.col.md-offset-1.col-lg-8.col-lg-offset-8-1
        h1= title
        form.form(method='post', action='/articles/add')
          .form-group
            label(for='title') Title:
            input.form-control(id='title', type='text', name='title')
          .form-group
            label(for='subtitle') Subtitle:
            input.form-control(id='subtitle', type='text', name='subtitle')
          .form-group
            label(for='category') Category:
            select.form-control(id='category', name='category')
              each category, i in categories
                option(value='#{category.title}') #{category.title}
          .form-group
            label(for='author') Author:
            input.form-control(id='author', type='text', name='author')
          .form-group
            label(for='body') Body:
            textarea.form-control(id='body', name='body')
          button.btn.btn-primary(type='submit') Save
          a.btn.btn-default(href='/manage/articles') Back
