extends layout

block content
  .spacer
  .container
    .row
      .col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
        h1= title
        ul.errors
          if errors
            each error, i in errors
              li.alert.alert-danger #{error.msg}
        form.form(method='post', action='/categories/add')
          .form-group
            label(for='title') Title:
            input.form-control(id='title', type='text', name='title')
          .form-group
            label(for='description') Description:
            textarea.form-control(id='description', type='text', name='description')
          button.btn.btn-primary(type='submit') Save
          a.btn.btn-default(href='/manage/categories') Back
