extends layout

block content
  .spacer
  .container
    .row
      .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-1
        a.btn.btn-primary(href='/manage/categories/add') Create Category
        h1= title
          small
            a(href='/manage/articles') Manage Articles
        != messages()
        table.table.table-striped
          tbody
            tr
              th Category Title
              th
            each category, i in categories
              tr
                td #{category.title}
                td
                  a.btn.btn-default(href='/manage/categories/edit/#{category._id}') Edit
